[Unit]
Description=Falkor nginx auth-proxy
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
EnvironmentFile=/usr/local/etc/falkor/falkor-auth-server.env
# WorkingDirectory=/usr/local/lib/node_modules/@falkor/falkor-auth-server/
ExecStart=falkor-auth-server

[Install]
WantedBy=multi-user.target
