[Unit]
Description=Falkor nginx auth-proxy
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
EnvironmentFile=-/usr/local/lib/falkor-auth-server/res/config.env
WorkingDirectory=/usr/local/lib/falkor-auth-server/
ExecStart=/usr/local/bin/hitech-auth

[Install]
WantedBy=multi-user.target
